body {
  margin: 0;
  padding: 10px 0 0 0;
  font-family: 'Roboto Slab', serif !important;
}

ul {
  list-style: none;
}

.container {
  height: 100%; 
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
}

.logo {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 33%;
  height: auto;
  border: solid #fed610
}

body {
  background-color: #b2b2ea !important;
}

a, p, h1 {
  color: #fed610 !important;
  text-align: center;
}

.thick {
  font-weight: 900 !important;
}

.center-text {
  text-align: center;
}
.projects {
  text-align: center;
  
}